$textColor: #fff;
$secondaryTextColor: #000;

$heroBgColor: #000;
$infosbarBgColor: #FFF;

$buttonColor: #4F2AC3;

$gradient1De4: #1B6CA7;
$gradient2De4: #442BDB;
$gradient3De4: #89223B;
$gradient4De4: #9C791D;

